### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [101]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
data_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame/Printed first five lines for reference
purchase_data_df = pd.read_csv(data_file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [102]:
#count unique values for players
total_players = len(purchase_data_df["SN"].value_counts())
total_players

576

In [103]:
#show the count of unique players
player_df = pd.DataFrame({"Total Players":[total_players]})
player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
#unique items
unique_items = purchase_data_df ["Item ID"].nunique()
unique_items

179

In [105]:
#Average Price
Average_Price = round(purchase_data_df ["Price"].mean(), 2)
Average_Price

3.05

In [106]:
#Total Number of Purchases
Total_Purchases = purchase_data_df ["Price"].count()
Total_Purchases

780

In [107]:
#Total Revenue
Total_Revenue = purchase_data_df["Price"].sum()
Total_Revenue

2379.77

In [108]:
#Create Summary
purchase_summary_df = pd.DataFrame({
    "Number of Unique Items":[unique_items],
    "Average Price" :'${:,.2f}'.format(Average_Price),
    "Number of Purchases":[Total_Purchases],
    "Total Revenue":'${:,.2f}'.format(Total_Revenue)})
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [109]:
#Gender Count
Gender_count_df = purchase_data_df.groupby('Gender')['SN'].nunique()
Gender_count_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [110]:
# Percentage
Gender_percent_df = (Gender_count_df/576)*100
print (Gender_percent_df)

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [111]:
Gender_Summary = pd.DataFrame ({"Percentage of Players":Gender_percent_df, "Total Count": Gender_count_df})
Gender_Summary

                       Percentage of Players  Total Count
Gender
Female                             14.062500           81
Male                               84.027778          484
Other / Non-Disclosed               1.909722           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [112]:
#purchase count
purchase_count_df = purchase_data_df.groupby('Gender')['Item ID'] 
purchase_count_df.count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [113]:
#Average Purchase Price
average_df = purchase_data_df.groupby('Gender')['Price'].mean()
average_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [114]:
#Total Purchase Value
total_purchase_df = purchase_data_df.groupby('Gender')['Price'].sum()
total_purchase_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [115]:
#Avg Total Purchase per person
avg_total_df = total_purchase_df/Gender_count_df
avg_total_df

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [116]:
#Purchasing Analysis Summary table
purchasing_analysis_df = pd.DataFrame({"Purchase Count":purchase_count_df.count(), 
                                       "Average Purchase Price":average_df, 
                                       "Average Purchase Value":total_purchase_df, 
                                       "Avg Total Purchase per Person":avg_total_df})
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [117]:
#create bins
bins = [0,10,15,20,25,30,35,40,45]

#Names for bins
age_range = ["<10","10-14","15-19","20-24","25-29", "30-34", "35-39", ">=40"]

#cut 
purchase_data_df ["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels = age_range)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15-19
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [118]:
#total count
ages = purchase_data_df.groupby ("Age Range")
players_total_count_df = ages["SN"].nunique()
players_total_count_df

Age Range
<10       24
10-14     41
15-19    150
20-24    232
25-29     59
30-34     37
35-39     26
>=40       7
Name: SN, dtype: int64

In [119]:
#percentage age range
players_percentage_df = round(purchase_data_df["Age Range"].value_counts()/780,2)*100
players_percentage_df

20-24    42.0
15-19    26.0
25-29    10.0
10-14     7.0
30-34     7.0
35-39     4.0
<10       4.0
>=40      1.0
Name: Age Range, dtype: float64

In [120]:
#Dataframe summary
demographics_summary = pd.DataFrame({"Total Count": players_total_count_df, "Percentage of Players": players_percentage_df})
demographics_summary

       Total Count  Percentage of Players
<10             24                    4.0
10-14           41                    7.0
15-19          150                   26.0
20-24          232                   42.0
25-29           59                   10.0
30-34           37                    7.0
35-39           26                    4.0
>=40             7                    1.0

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [121]:
purchase_data_df['Age Group'] = pd.cut(purchase_data_df['Age'], bins, labels=age_range)
#Purchase count
purchase_count = purchase_data_df.groupby(['Age Group']).count()['Purchase ID']
#average purchase price
avg_purchase = purchase_data_df.groupby(['Age Group']).mean()['Price']
#total purchase value
total_value = purchase_data_df.groupby(['Age Group']).sum()['Price']
#average total purchase per person
avg_per_person = total_value/ demographics_summary['Total Count']

In [122]:
#Summary dataframe
purchase_analysis_df = pd.DataFrame ({'Purchase Count': purchase_count, 'Average Purchase Price': avg_purchase, 'Total Purchase Value': total_value, 'Avg Total Purchase per Person': avg_per_person})
purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,32,3.405000,108.96,4.540000
10-14,54,2.900000,156.60,3.819512
15-19,200,3.107800,621.56,4.143733
20-24,325,3.020431,981.64,4.231207
25-29,77,2.875584,221.42,3.752881
30-34,52,2.994423,155.71,4.208378
35-39,33,3.404545,112.35,4.321154
>=40,7,3.075714,21.53,3.075714

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [123]:
#purchase count

purchases = purchase_data_df.groupby(['SN']).count()['Price']
#Average Purchase Price
average_prices = purchase_data_df.groupby(['SN']).mean()['Price']
#Total Purchase Value 
total_purchase_value = purchase_data_df.groupby(['SN']).sum()['Price']

In [124]:
#dataframe
spenders_df =pd.DataFrame({'Purchase Count': purchases, 'Average Purchase Price': average_prices, 'Total Purchase Value': total_purchase_value})
#sort total purchase value column - descending
sorted_total_purchase_value_df = spenders_df.sort_values('Total Purchase Value', ascending=False)
spenders_df

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                2.280000                  2.28
Adastirin33                 1                4.480000                  4.48
Aeda94                      1                4.910000                  4.91
Aela59                      1                4.320000                  4.32
Aelaria33                   1                1.790000                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                2.073333                  6.22
Yathedeu43                  2                3.010000                  6.02
Yoishirrala98               1                4.580000                  4.58
Zhisrisu83                  2                3.945000                  7.89
Zontibe81                   3                2.676667                  8.03

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [125]:
items = purchase_data_df.loc[:,['Item ID', 'Item Name', 'Price']]
items.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [126]:
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
item_df =pd.DataFrame(items)
#purchase count
item_purchases = items.groupby(['Item ID', 'Item Name']).count()['Price']
#Average item price
avg_item = items.groupby(['Item ID', 'Item Name']).mean()['Price']
# Total Purchase Value
item_total = items.groupby(['Item ID', 'Item Name']).sum()['Price']


#Summary dataframe
items_summary_df =pd.DataFrame ({'Purchase Count': item_purchases, 'Item Price': avg_item, 'Total Purchase Value': item_total})
#sort purchase count
item_purchases_sorted = items_summary_df.sort_values('Purchase Count', ascending=False)

items_summary_df.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4      1.2800                  5.12
1       Crucifer                         4      2.9425                 11.77
2       Verdict                          6      2.4800                 14.88
3       Phantomlight                     6      2.4900                 14.94
4       Bloodlord's Fetish               5      1.7000                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [127]:
#sort by total purchase value
items_summary_df_sorted = items_summary_df.sort_values('Total Purchase Value', ascending=False)
items_summary_df.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4      1.2800                  5.12
1       Crucifer                         4      2.9425                 11.77
2       Verdict                          6      2.4800                 14.88
3       Phantomlight                     6      2.4900                 14.94
4       Bloodlord's Fetish               5      1.7000                  8.50

In [ ]:
#Observable Trends
# 1. Within the gaming field, there is a stereotype that it is very male dominated. This data is inline with that statistic with the total number of Female players being lower than the male.
# 2. Video games target demographics are always young adults and teenagers. This data shows that this target is on point with  higher percentages of players within the age ranges of 15-19 and 20-24
# 3. Although there are more male players, it seems that female players have a higher average total purchase per person.